@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

*{
      font-family: 'Montserrat', sans-serif;
}

.container{
      max-width: 425px;
      max-height: 640px;
      height: 100vh;
      width: 100vw;
      padding-top: 40px;
}

.form-input{
      width: 280px;
      height: 60px;
      border-radius: 15px;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      background-color: #F3F3F3;
      border: 1px solid #C2C2CB;
      padding-left: 20px;
}

.text-small{
      font-size: 12px;
}


.contenedor {
	max-width: 700px;
	width: 100%;
	height: 100%;
	max-height: 90vh;
	overflow: auto;
	box-shadow: 0 2px 10px rgba(139,139,139,.25);
	border-radius: 3px;
	display: grid;
	grid-template-rows: auto auto 1fr;
}

/* * --- --- ---  HEADER --- --- --- */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 0 20px;
	color: #fff;
	border-radius: 10px;
	margin-bottom: 20px;
}

.header__titulo {
	font-weight: 400;
	font-size: 24px;
}

.header__boton {
	background: none;
	font-size: 16px;
	color: white;
	border: 1px solid #fba83c;
	cursor: pointer;
	background: #fba83c;
	padding: 5px 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	width: 280px;
	justify-content: space-between;
}

.header__icono-boton {
	font-size: 14px;
	margin-left: 10px;
}

/* * --- --- ---  FORMULARIO AGREGAR --- --- --- */
.formulario-tareas {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 20px;
	width: 90%;
	height: 100px;
	margin-bottom: 40px;
}

.formulario-tareastext {

	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 20px;
	width: 95%;
	height: 120%;
	margin-bottom: 40px;
}

.formulario-tareas__input {
	border: none;
	padding: 15px;
	width: 100%;
	height: 100px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #b8b8b8;
	border-radius: 10px;
}

.formulario-tareas__textarea{
	border: none;
	padding: 15px;
	width: 80%;
	height:100%;
	font-size: 20px;
	margin:10%;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #b8b8b8;
	border-radius: 10px;
}

.formulario-tareas__input:focus {
	outline: none;
	border: 2px solid #fba83c;
}
.formulario-tareas__textarea:focus {
	outline: none;
	border: 2px solid #fba83c;
}

.formulario-tareas__btn {

	position: absolute;
	width: 40px;
	height: 40px;
	border: 1px solid #fba83c;
	background: none;
	cursor: pointer;
	color: white;
	font-weight: 900;
	background-color: #fba83c;
	font-size: 20px;
	border-radius: 50%;
	bottom: -20px;
	left: 50%;
	transform: translateX(-20px);
}

.formulario-tareas__btn:focus{
	color:#fba83c;
	background-color: white;
}

/* * --- --- ---  LISTA TAREAS --- --- --- */

.lista-tareas {
	list-style: none;
	height: 300vh;
	overflow: auto;
	margin: 0;
	padding: 0;
}
.lista-metas {
	list-style: none;
	height: 300vh;
	overflow: auto;
	margin: 0;
	padding: 0;
}

.lista-tareas__tarea {
	height: auto;
	width: 320px;
	padding: 5px 20px;
	align-items: center;
	justify-content: start;
	color: #4B4B4B;
	font-size: 18px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	border: 1px solid #fba83c;
	border-radius: 10px;
	margin-bottom: 10px;
	background-color: white;
}

.lista-tareas__tareaarea {
	height: auto;
	width: 320px;
	padding: 5px 20px;
	align-items: center;
	justify-content: start;
	color: #4B4B4B;
	font-size: 18px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	border: 3px solid #fba83c;
	border-radius: 10px;
	margin-bottom: 10px;
	background-color: rgb(247, 228, 194);
}


.imagenperfil{
	width:50%;
	height:110px;
	margin:20px;
	border-radius:50%;
	align-items: center;
	margin-left: 25%;
	cursor:pointer;

}
.lista-metas__meta {
	height: auto;
	width: 320px;
	padding: 5px 20px;
	align-items: center;
	justify-content: start;
	color: #4B4B4B;
	font-size: 18px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	border: 1px solid #fba83c;
	border-radius: 10px;
	margin-bottom: 10px;
	background-color: white
}

.lista-tareas__texto {
	text-align: left;
	width: 100%;
	color: black;
	overflow: hidden;
}

.lista-tareas__tarea:hover .lista-tareas__icono-accion {
	opacity: 0.8;
}

.lista-tareas__tareaarea:hover .lista-tareas__icono-accion {
	opacity: 1;
}
.lista-tareas__contenedor-botones {
	display: flex;
}

.lista-tareas__icono {
	cursor: pointer;
	font-size: 16px;
	color: #fba83c;
}

.lista-tareas__icono-check {
	margin-right: 20px;
	font-size: 26px;
	
}

.lista-tareas__icono-accion {
	margin-left: 20px;
	opacity: 0;
	transition: .3s ease all;
}

.lista-tareas__mensaje {
	text-align: center;
	color: #fba83c;
	font-size: 20px;
	padding: 40px 20px;
}

/* * --- --- ---  FORMULARIO EDITAR TAREA --- --- --- */
.formulario-editar-tarea {
	display: flex;
}

.formulario-editar-tarea__input {
	width: 100%;
	border: none;
	border-bottom: 2px solid #b8b8b8;
	background: none;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin-right: 20px;
}

.formulario-editar-tarea__btn {
	border: none;
	background: var(--verde);
	cursor: pointer;
	color: #fba83c;
	padding: 0 10px;
	font-family: 'Roboto', sans-serif;
	border-radius: 3px;
}

.calendario{
	color: #0a8791;
	min-height: 500px;
	height: 500px;
	margin: 10px; 
}

.calendario span{
	color: #fba83c;
}

.calendario button{
	background-color: #fba83c;
}
.rbc-toolbar button:active:focus{
	background-color: #0a8791;
}
.rbc-toolbar{
	margin: 0 auto;
	flex-direction: column;
	margin-bottom: 10px;
	height: auto;
}

.rbc-toolbar-label{
	font-weight: 700;
	color: #0a8791;
	text-transform: capitalize;
	margin: 10px 0;
}

.rbc-toolbar-label span:active{
	color: #0a8791;
}

.react-datepicker__input-container{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-bottom: 5px;
	
}

.react-datepicker__input-container input{
	border-radius: 10px;
	margin-bottom: 10px;
	height: 50px;
}

.input-calendar{
	width: 80%;
	border-radius: 10px;
	margin-bottom: 10px;
	height: 50px;
}
.react-datepicker-wrapper{
	margin: 0 auto;
}

.footerhorarios{
	position: absolute;
	left: 0%;
	right: 0%;
	top: 89.06%;
	bottom: 0%;
	background: #FBA83C;
	border-radius: 15px 15px 0px 0px;
}

.formulario-tareas__btnhorarios{
	position: absolute;
	width: 60px;
	height: 60px;
	border: 8px solid white;
	background: none;
	cursor: pointer;
	color: white;
	font-weight: 900;
	background-color: #fba83c;
	font-size: 20px;
	border-radius: 50%;
	bottom: -20px;
	left: 48%;
	transform: translateX(-20px);
}

.calificacion{
	width: 90%;
	height: 60px;
	background: #FFFFFF;
	border: 1px solid #0A8791;
	box-sizing: border-box;
	border-radius: 15px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	color: #0A8791;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

a{
	text-decoration: none;
	color: inherit;
}

.button-calification{
	border: none;
	background-color: transparent;
	color: inherit;
	font-weight: 600;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 320px;
  border: hidden;
}


td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
	border: hidden;

}

.input-notas{
	width:100%;
	background: #FFFFFF;
	border: 1px solid #0A8791;
	box-sizing: border-box;
	border-radius: 6px;
}