@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

*{
      font-family: 'Montserrat', sans-serif;
}

.container{
      max-width: 425px;
      max-height: 640px;
      height: 100vh;
      width: 100vw;
      padding-top: 40px;
}

.form-input{
      width: 280px;
      height: 60px;
      border-radius: 15px;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      background-color: #F3F3F3;
      border: 1px solid #C2C2CB;
      padding-left: 20px;
}

.text-small{
      font-size: 12px;
}


.contenedor {
	max-width: 700px;
	width: 100%;
	height: 100%;
	max-height: 90vh;
	overflow: auto;
	box-shadow: 0 2px 10px rgba(139,139,139,.25);
	border-radius: 3px;
	display: grid;
	grid-template-rows: auto auto 1fr;
}

/* * --- --- ---  HEADER --- --- --- */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 0 20px;
	color: #fff;
	border-radius: 10px;
	margin-bottom: 20px;
}

.header__titulo {
	font-weight: 400;
	font-size: 24px;
}

.header__boton {
	background: none;
	font-size: 16px;
	color: white;
	border: 1px solid #fba83c;
	cursor: pointer;
	background: #fba83c;
	padding: 5px 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	width: 280px;
	justify-content: space-between;
}

.header__icono-boton {
	font-size: 14px;
	margin-left: 10px;
}

/* * --- --- ---  FORMULARIO AGREGAR --- --- --- */
.formulario-tareas {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 20px;
	width: 90%;
	height: 100px;
	margin-bottom: 40px;
}

.formulario-tareas__input {
	border: none;
	padding: 15px;
	width: 100%;
	height: 100px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #b8b8b8;
	border-radius: 10px;
}

.formulario-tareas__input:focus {
	outline: none;
	border: 2px solid #fba83c;
}

.formulario-tareas__btn {
	position: absolute;
	width: 40px;
	height: 40px;
	border: 1px solid #fba83c;
	background: none;
	cursor: pointer;
	color: white;
	font-weight: 900;
	background-color: #fba83c;
	font-size: 20px;
	border-radius: 50%;
	bottom: -20px;
	left: 50%;
	transform: translateX(-20px);
}

.formulario-tareas__btn:focus{
	color:#fba83c;
	background-color: white;
}

/* * --- --- ---  LISTA TAREAS --- --- --- */

.lista-tareas {
	list-style: none;
	height: 100vh;
	overflow: auto;
	margin: 0;
	padding: 0;
}

.lista-tareas__tarea {
	height: auto;
	width: 320px;
	padding: 5px 20px;
	align-items: center;
	justify-content: start;
	color: #4B4B4B;
	font-size: 18px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	border: 1px solid #fba83c;
	border-radius: 10px;
	margin-bottom: 10px;
	background-color: white;
}

.lista-tareas__texto {
	text-align: left;
	width: 100%;
	color: black;
}

.lista-tareas__tarea:hover .lista-tareas__icono-accion {
	opacity: 0.8;
}

.lista-tareas__contenedor-botones {
	display: flex;
}

.lista-tareas__icono {
	cursor: pointer;
	font-size: 16px;
	color: #fba83c;
}

.lista-tareas__icono-check {
	margin-right: 20px;
	font-size: 26px;
	
}

.lista-tareas__icono-accion {
	margin-left: 20px;
	opacity: 0;
	transition: .3s ease all;
}

.lista-tareas__mensaje {
	text-align: center;
	color: #fba83c;
	font-size: 20px;
	padding: 40px 20px;
}

/* * --- --- ---  FORMULARIO EDITAR TAREA --- --- --- */
.formulario-editar-tarea {
	display: flex;
}

.formulario-editar-tarea__input {
	width: 100%;
	border: none;
	border-bottom: 2px solid #b8b8b8;
	background: none;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin-right: 20px;
}

.formulario-editar-tarea__btn {
	border: none;
	background: var(--verde);
	cursor: pointer;
	color: #fba83c;
	padding: 0 10px;
	font-family: 'Roboto', sans-serif;
	border-radius: 3px;
}